preview
*{
    -webkit-tap-highlight-color: transparent;
}
@font-face {
        font-family: "OpenSans";
        src: url("/static/font/OpenSans.ttf");
}
body {
  border-top: 1px solid #ccc;
}
body, input {
  font: 1em 'OpenSans', sans-serif;
  margin: 0;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
}
form input, form textarea, form select, button {
	color: #000;
	background: none;
	font: 1em 'OpenSans', sans-serif;
	outline: none;
	border: none;
}
form input, form textarea, .content h2, .content p {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

form input[type="submit"] {
     -webkit-appearance: none;

	width: auto;
	cursor: pointer;
	padding: 0.5em;
	border-radius: 2rem;
	display: inline-block;
}
label {
	cursor: pointer;
}
input[type=checkbox]{
	display: none;
}
form input[type="checkbox"] {
	width: 1em;
}
textarea {
	resize: vertical;
}
input[type="file"] {
	display: none;
}
h1, h2, h3 {
	margin: 0;
}
h1 {
    cursor: default;
	font-size: 1.25em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 1em;
}
li {
	line-height:1.25em;
	padding: .25em 0;
}
pre {
   font-family: "courier new", courier, monospace;
   font-size: .95em;
   -moz-tab-size: 3;
   tab-size: 3;
   white-space: pre-wrap;
}
a {
	text-decoration: none;
}

nav {
	transition: .25s ease-out margin;
	overflow-y: auto;
	overflow-x: hidden;

	position: absolute;
	height:100vh;
	width:3.5rem;

	display: flex;
	flex-flow: column;
	justify-content: space-between;

	z-index: 11;
	transition: 0.25s ease width;

	background: #fff;
	border-right: 1px solid #000;

	font-weight: bold;
}
nav.on, nav div {
	width: 13.5em;
}

nav a:link, nav a:visited {
	color: #000;
}
nav a, nav span {
	white-space: nowrap;
	cursor: pointer;
	transition: .25s ease border-color, .125s linear color;
	display: flex;
	align-items: center;
}
nav a:before, nav span:before, button.icon:before, .button.icon:before {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background: url('../../ui/media/icons.svg');
	content: '';
	margin: 0 auto;
}
nav a::before, nav span::before {
	margin: 1rem;
}
nav a:hover {
	color: #222;
}

/*Icons*/
.button#edit::before {
	background-position: left calc(-1.5rem*25) top;
}
.button#storage::before {
	background-position: left calc(-1.5rem*26) top;
}
#dashboard.on .button#edit::before {
	background-position: left calc(-1.5rem*25) bottom;
}
.button#add:before, button#add:before, button#raise:before {
	background-position: left calc(-1.5rem*23) top;
}
button#remove:before {
	background-position: left calc(-1.5rem*3) top;
}
button#lower:before {
	background-position: left calc(-1.5rem*24) top;
}
button#upload:before {
	background-position: left calc(-1.5rem*2) top;
}
button#download:before {
  background-position: left calc(-1.5rem*1) top;
}
.button#gridView:before {
  background-position: left calc(-1.5rem*27) top;
}
#dashboard.scrollView .button#gridView:before {
  background-position: left calc(-1.5rem*27) bottom;
}
.icon#streamButton:before {
  background-position: left calc(-1.5rem*28) top;
}
.icon#chartButton:before {
  background-position: left calc(-1.5rem*29) top;
}
section {
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .25rem .25rem .25rem .5rem;
  font-weight: bold;
  height: 3rem;
  overflow: hidden;
}
button.icon, .button.icon {
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: transparent;
    color: #000;
    padding: .25rem;
    transition: border-color ease .125s;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
button.icon:hover {
	border: 1px solid #000;
}
button.noicon {
	border: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
section #dashboard {
	display: flex;
	height: 100vh;
}
section #dashboard #workspaces{
	transition: .25s ease width;
	position: absolute;
	right:0;
	z-index:12;
	background: #fff;
	width: 4rem;
	height: 100%;
}
#grid {
	grid-column: 1;
	grid-row: 1;
	width: calc(100% - 4em);
	transition: .25s ease width;
	background: #ddd;
}
#workspaces {
	grid-column: 2;
	grid-row: 1;
}
#workspaces > div {
    overflow-y: auto;
    display: block;
    height: calc(100vh - 10rem);
}
#workspaces span > div, #workspaces #edit, #workspaces #add{
	box-sizing: border-box;
  height: 3rem;
	margin:.25em;
	overflow: hidden;

	padding:.25em;
	border: 1px solid #888;
	border-radius: .25em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: .25s ease background-color;
}
#workspaces span > div.on {
	background: #3298dc;
}
#workspaces span > div.on button{
	filter: invert(1) ;
}
#workspaces span h3 {
  min-width: 3em;
  height: 100%;
	cursor: pointer;
}
#grid button#remove, #dashboard #add {
	display: none
}
#dashboard.on #workspaces {
	width: 8rem;
}
#dashboard.on button#remove {
	display: block
}
#dashboard.on #add {
  display:flex
}

#dashboard.scrollView #grid > span {
  background-color: #fff;
}
#dashboard.scrollView #grid > span {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#dashboard.scrollView #grid > span > div {
  max-width: 75em;
  max-height: 75vh;
  margin: 1em auto;
  border-radius: 1em;
  border: 1px solid #ddd;
  width: 90%;
  height: 75vw;
}
#dashboard.scrollView #grid.on > span > div {
  /*width: calc(90vw - 11em) !important;*/
}
#dashboard.scrollView #grid #remove {
  position: relative;
  margin: 0 0 -2.75em 0;
}
#grid #add {
	z-index: 12;
	display: block !important;
    position: absolute;
    right: 8.5rem;
    bottom: -5em;
    border: 1px solid #000;
    padding: .75em;
	margin-bottom: 0;
	transition: .25s ease box-shadow, .25s ease margin-bottom, .25s ease bottom;
}
#grid #remove {
    position: absolute;
    border: 1px solid #000;
    padding: .5em;
	margin: .5em;
	transition: .25s ease box-shadow;
}
#grid #remove:hover {
	box-shadow: 0 0 .25em rgba(0, 0, 0, 0.5);
}
#grid {
	overflow: hidden;
	display: flex
}
section #dashboard.on #grid #add {
    bottom: .5em;
}
#grid #add:hover {
	margin-bottom: .25em;
    box-shadow: 0 .125em .25em rgba(0, 0, 0, 0.5);
}
#grid > span {
	display: grid;
	grid-gap: 1px;
	height: 100%;
	width: 100%;
}
#grid.on {
  width: calc(100% - 16em);
}
#dashboard.on #grid.on{
  width: calc(100% - 20em);
}
#grid > span > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #fff;
}
#grid span video {
	width: 100%;
    height: 100%;
}
#grid button {
	background: #fff;
	z-index: 1;
}
#grid #actions {
	transition: .25s ease width, .25s ease right;
	width: 0;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	position:absolute;
	right: 4em;
	background: #fff;
	height:100%;
	z-index:11;
	overflow:hidden;
}
#dashboard.on #actions {
  right: 8rem;
}
#grid.on #actions {
	border-right: 1px solid #ccc;
}
#grid #actions button.noicon{
	margin: 0;
	width: 100%;
	background: transparent !important;
}
#grid #actions > span > div {
  font-size: 0.9em;
  color: #666;
	border-radius: .5em;
	margin: .125em 0 .125em 0;
	width: 100%;
	padding: .5em 0;
}
#grid #actions .button, #grid #actions .switch {
    transition: box-shadow ease .125s, .125s ease background-color, margin ease .125s;
}
#actions .switch {
	border: 1px solid #888;
}
#actions .range button {
	margin: 0.5em 0.25em 0 0.25em !important;
}
#actions .range button:hover {
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
}
#actions .range button:active {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
#grid #actions .button:hover, #grid #actions .switch:hover {
    margin: 0 0 0.25em 0;
    box-shadow: 0 .125em .125em rgba(0, 0, 0, 0.5);
}
#grid #actions .switch.on {
	background: #3298dc;
}
#grid #actions .switch.on button {
	color: #fff
}
#grid #actions .range {
    width: 100%;
	display: block;
	padding: .5em;
	text-align: center;
	box-sizing: border-box;
}
#grid #actions input {
	border: none;
	border-bottom: 1px solid #aaa;
  width: 100%;
  padding: 0.25em 0;
}
input:focus, input:hover{
    outline:none;
}
input:focus {
    border-color: #3298dc !important;
}
#grid #actions > span > div:active {
    margin: .125em 0 .125em 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)  !important;
}
#grid #actions > span {
	display: block;
	width: 12rem;
	padding: 0.5rem;
	box-sizing:border-box;
	display: flex;
    flex-direction: column;

    height: 100vh;
	overflow-x: hidden;
    overflow-y: auto;
	scrollbar-width: none;
}
#grid.on #actions {
	width: 12em;
}
#grid > span > div {
    transition: box-shadow ease .125s;
}
#grid > span > div.on {
	box-shadow:  0 0 1em rgba(68, 153, 204, 1);
	border-color: #3298dc;
	z-index: 10
}

#grid span.s1 {
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
@media (orientation:landscape) {
  #grid span.s2 {
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr;
	}
  #grid span.s5, #grid span.s6 {
	  grid-template-columns: 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr;
  }
}
@media (orientation:portrait) {
  #grid span.s2 {
	  grid-template-columns: 1fr;
	  grid-template-rows: 1fr 1fr;
	}
  #grid span.s5, #grid span.s6 {
	  grid-template-columns: 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
  }
}
#grid span.s3, #grid span.s4 {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
#grid span.s7, #grid span.s8, #grid span.s9 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

#storageManager, #addMenu {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0);
  z-index:12;
  transition: background-color ease .25s;
}
#storageManager.on, #storageManager.ani, #addMenu.on, #addMenu.ani{
  display: block;
}
#storageManager.on, #addMenu.on{
  background: rgba(0,0,0,.1);
}
#storageManager > div {
  max-width: 30em;
  max-height: 40em;
  padding: 0.5em 1em 1em 1em;
  margin: 0 auto;
}
#storageManager > div, #addMenu > div{
  background: #fff;
  box-shadow: 0 .25em .5em rgba(0,0,0,0.5);
  border-radius: 1em;
  margin-top: 100vh;
  opacity: 0;
  transition: margin-top ease .25s, opacity ease .25s;
  box-sizing: border-box;
}
#storageManager.on > div {
  margin-top: 10vh;
  opacity: 1;
}
#storageManager span > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0.25em 0;
}
#storageManager span > div:last-child {
  border-bottom: none;
}
#storageManager span {
  border: 1px solid #aaa;
  display: block;
  padding: 0 .5em;
  border-radius: 1em;
}
#storageManager h2 {
  font-weight: normal
}
#storageManager span > div > div {
  display: flex;
}
#addMenu.on > div {
  margin-top: calc(100vh - 5.25em);
  opacity: 1;
}
#addMenu > div {
  max-width: 10em;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  margin-right: 8.5em;
  margin-left: auto;
}
#addMenu button {
  padding: .5em;
  border-radius: 0.5em;
}

.dropdown select {
  appearance: none;
  background-color: transparent;
  border: 1px solid #666;
  padding: .5em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #000;
  border-radius: .25em;
  width: 100%;
  margin: .5em 0;
}
